body
{
    text-align: center;
    background-color: bisque;
}
.header
{
    color: black;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgb(248, 106, 106);
}
.header:hover
{
    width: 220px;
}
.b
{
    font-size: 20px;
    background: white;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
}

.link:hover 
{
    font-size: 25px;
    text-decoration: underline;
}